{# Login #}
{% extends 'layouts/single-fixed-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--password-recovery{% endblock %}
{% block page_html_title %}{% trans 'Bienvenid@!' %}'{% endblock %}

{% block main %}
    <h1 class="page__title--password-recovery">
        Maadix CPanel
    </h1>
    <figure class="logo--password-recovery">
        <img src="{% img 'logo-maadix--full.png' %}" />
    </figure>

    <form class="form-recovery" method="post">
        {% csrf_token %}
              {% if out_messages %}
                      {{  out_message }}
              {% endif %}

        <p class="form-recovery__text">
        {% trans 'Para recuperar la contraseña de acceso al panel de control necesitas conocer el nombre de usuarix y el correo electrónico asociado al mismo.' %}
        </p>
        {{ form.as_p }}
        <button class="form-recovery__submit" type="submit">
            {% trans 'Recupera la contraseña' %}
        </button>
        <a class="form-recovery__login-link" href="{% url 'login' %}">
            {% trans 'Volver a la pantalla de acceso' %}
        </a>
    </form>
{% endblock %}
