{# services menu #}
{# enabled_services is defined in views 'installed_services' context_processor #}

{% load i18n templatetags %}
<div class="menu-services">
    <ul id="menu-services-links">
        {% if 'owncloud' in enabled_services %}
        <li class="menu-services__item">
            <a href="{% enabled_service_url 'owncloud' %}" target="_blank">
                Owncloud
            </a>
        </li>
        {% endif %}
        {% if 'rainloop' in enabled_services %}
        <li class="menu-services__item">
            <a href="{% enabled_service_url 'rainloop' %}" target="_blank">
                Webmail
            </a>
        </li>
        {% endif %}
        {% if 'phpmyadmin' in enabled_services %}
        <li class="menu-services__item">
            <a href="{% enabled_service_url 'phpmyadmin' %}" target="_blank">
                PHPMyAdmin
            </a>
        </li>
        {% endif %}
    </ul>
</div>
