{# Form to add new domains #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--domains-add{% endblock %}
{% block page_html_title %}{% trans 'Añade un dominio' %}{% endblock %}

{% block main %}
<h1 class="page__title--domains-add">
    {% trans 'Añadir un dominio' %}
</h1>
<p class="page__subtitle--domains-add">
    {% trans 'Activa dominios o subdominios en este servidor' %}
</p>
<div class="page__content--domains-add">
    <div class="page__content-right--domains-add">
        <div class="page__instructions--domains-add">
          {% trans 'Activar un dominio en este panel creará la configuración necesaria para:' %}
            <ul>
              <li>{% trans 'Crear cuentas de correo electrónico.' %}</li>
              <li>{% trans 'Alojar contenido visible visitando el dominio con un navegador.' %}</li>
              <li>{% trans 'Crear un certificado SSL para navegación segura (HTTPS).' %}</li>
            </ul>
            {% blocktrans trimmed %} 
            Recuerda que, para un correcto funcionamiento de tus dominios en el servidor,
            es necesario que configures correctamente los DNS desde el panel de configuración
            de tu proveedor de dominio.
            {% endblocktrans %}
            <a href="{% url 'domains-instructions' %}">{% trans 'Saber más' %}</a>.
        </div>
    </div>
    <div class="page__content-left--domains-add">
      {% if domains_module == 'error' %}
        <form class="default" method="POST">
        {% csrf_token %}
        <ul class="errorlist nonfield">
          <li>
          {% trans 'Una operación previa ha generado un error. Reanudala para poder seguir añadiendo dominios' %}
          </li>
        </ul>
          <button class="modal__submit--genericlock confirm" type="submit" name="writeldap">
        {% trans 'Reanudar Proceso' %}
          </button>
      </form>
      {% else %}
        {% default_form form=form modifier='domain' %}
      {% endif %}
    </div>
</div>
{% endblock %}
