{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--domains{% endblock %}
{% block page_html_title %}{% trans 'Gestiona tus dominios' %}{% endblock %}

{% block main %}
<h1 class="page__title--domains">
    {% trans 'Dominios' %}
</h1>
<h1 class="page__subtitle--domains">
    {% trans 'Gestiona tus dominios' %}
</h1>
<div class="page__content--domains">
    <div class="page__wide-content-right--domains">
       {% if domains_module != 'error' %}
        <a class="services-button" href="{% url 'domains-add' %}">
            {% trans 'Añadir un dominio' %}
        </a>
        {% endif %}
    </div>
    <div class="page__wide-content-left--domains">
      {% if domains_module == 'error' %}
        <form class="default" method="POST">
        {% csrf_token %}
        <ul class="errorlist nonfield">
          <li>
          {% trans 'Una operación previa ha generado un error. Reanudala para poder seguir eliminando o editando dominios' %}
          </li>
        </ul>
          <button class="modal__submit--genericlock confirm" type="submit" name="writeldap">
        {% trans 'Reanudar Proceso' %}
          </button>
      </form>

      {% endif %}
        <div class="view-domains">
            {% if domains|length > 0 %}
            <ul class="view-domains__items">
                {% for domain in domains %}
                <li class="view-domains__item">
                      {% include 'views/domain--grid.html' %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% include 'blocks/modal-delete.html' %}
    </div>
</div>
{% endblock %}
