// Region header
  /templates/regions/region-header.html

.region-header
  background-color: darken($palette_blue_dark, 10%)
  color: white
  padding: 0 $m
  width: 100vw
  height: $m*1.5
  line-height: $m*1.5
  +breakpoint('sm')
    height: $header_height
    line-height: calc(#{$header_height - 1})
    width: calc(100% - #{$sidebar_width})
    margin-left: $sidebar_width
