// Region sidebar

.region-sidebar
  position: fixed
  top: $m*1.5
  width: 100vw
  height: 100vh
  font-family: $font_text
  background: linear-gradient(to bottom, $palette_blue_dark, $palette_maadix)
  color: $palette_grey_light
  overflow-y: auto
  left: -100vw
  z-index: 100
  +transition(left, .5s ease)
  +breakpoint('sm')
    width: $sidebar_width
    left: 0
    top: 0

.navigation-open .region-sidebar
  left: 0
