// Domain overview page
  /templates/pages/domains.html

.view-domains
  +clearfix
  +breakpoint('sm')
    padding: $m

.view-domains__item
  display: inline-block
  float: left
  background: white
  word-wrap: break-word
  padding: $m
  margin: $m/2
  +links($color_text, $palette_maadix, .2s ease)
  width: calc(100% - #{$m})
  +breakpoint('sm')
    width: calc(50% - #{$m*2})
  +breakpoint('lg')
    width: calc(33% - #{$m*2})

.domain--grid .field
  margin-bottom: $m/2

.domain--grid .field-label
  text-transform: uppercase
  +h(5)

.field.domain__name--grid
  margin-top: 0
  margin-bottom: $m
  color: $palette_maadix

.domain__actions--grid
  font-size: $size_small
  text-transform: uppercase
  margin-top: $m
  .fa
    display: inline-block
    width: $m
    text-align: center
    color: #555

.domain__action--grid.delete, .domain__dkim--list .activate
  &:hover
    button
      color: $palette_maadix
  button
    +button_none
    text-transform: uppercase
    padding: 0
    +transition(color .2s ease)

.mailman--list
  font-size: $size_small
  text-transform: uppercase
  .domain__host--list
    text-transform: none

.domain__dkim--list .activate
  display: inline
  button
    +button_none
    text-decoration: underline

.domain--grid, .mailman--list, .form--domain
  .fa.disabled
    color: #ccc
  .fa.enabled
    color: $color_success

.page__content-right--domains a
  +button_success
  display: inline-block

.view-emails__warnings
  +links_maadix_dotted

.view-mailman__empty
  background: white
  padding: $m $m*2
  +links_maadix_dotted

.view-mailman__items
  +links_maadix_dotted

.view-mailman__item
  +generic_list_item
  background: white
  padding: $m

.mailman--list
  display: flex
  .field__label
    display: block
  .field
    flex-grow: 1
    margin-top: 0 !important
  +breakpoint("xs")
    display: inline
    
