// Email accounts
  /templates/pages/mail-accounts.html

.view-emails__domain-name
  color: $palette_maadix
  span
    font-family: $font_text
    font-size: .8em
  &:before

.mail-account--list
  +generic_list_item

.mail-account--list .mail-account__link--list
  display: block
  button
    padding: 0

.mail-configuration
  ul
    margin-left: 0
  li
    list-style: none
  label
    +h(5)
    display: block
  .collapsed
    +collapsed

.mail-configuration__trigger
  &:hover
    cursor: pointer
  &:after
    content: "⌄"
    float: right

.view-emails__warnings
  background: white
  padding: $m

.view-emails__domain.collapsed
  .view-emails__items
    display: none

.view-emails__domain-name
  &:hover
    cursor: pointer
  &:before
    content: "⌃"

.collapsed .view-emails__domain-name:before
  content: "⌄"
