{# modal to general confirm #}
{% load i18n %}

<div class="modal--update" id="modal-confirm-write">
    <div class="modal__content-wrapper--confirm-write">
        <p class="modal__content--confirm-write">
            <div class="modal__text--genericlock">
              <p> {{ modal_text_body }}</p>
              <p> {{ modal_text_confirm }}</p>
            </div>
            <div class="modal__actions--confirm-write">
                <span class="modal__submit--genericlock" data-dismiss="#modal-confirm-write">
                    {% trans 'Cancelar' %}
                </span>
                <form class="update-form" method="POST">
                    {% csrf_token %}
                    <button class="modal__submit--genericlock confirm" type="submit" name="writeldap">
                        {% trans 'Confirmar' %}
                    </button>
                </form>
            </div>
        </p>
    </div>
</div>

