{# modal to confirm delete items #}
{% load i18n %}

<div class="modal--delete" id="modal-delete">
    <div class="modal__content-wrapper--delete">
        <p class="modal__content--delete">
            <div class="modal__text--delete">
            </div>
            <div class="modal__actions--delete">
                <button class="modal__cancel--delete" data-dismiss="#modal-delete">
                    {% trans 'Cancelar' %}
                </button>
                <form class="update-form" method="POST" action="{% url 'api_delete' %}">
                    {% csrf_token %}
                    <input type="hidden" name="dn" value="" />
                    <input type="hidden" name="url" value="{{ request.get_full_path }}" />
                    <button class="modal__submit--delete" type="submit">
                        {% trans 'Borrar' %}
                    </button>
                </form>
            </div>
        </p>
    </div>
</div>
