{# modal to reboot maadix #}
{% load i18n %}

<div class="modal--reboot" id="modal-reboot">
    <div class="modal__content-wrapper--reboot">
        <p class="modal__content--reboot">
                <p>{% trans 'El proceso durará unos minutos durante los cuales el Panel de Control quedará inactivo' %}</p>
                <p>{% trans 'Todas las personas que tengan una sesión activa serán forzadas a salir y redireccionadas a una página en la que se mostrará el estado de la operación. '%}
                {% trans 'Cuando la operación termine se activará el formulario para volver a acceder.' %}</p>
                <p>{%trans '¿Confirmas que quieres reiniciar el servidor ahora?' %}</p>
            <div class="modal__actions--reboot">
                <button class="modal__cancel--reboot" data-dismiss="#modal-reboot">
                    {% trans 'Cancelar' %}
                </button>
                <form class="reboot-form" method="POST">
                    {% csrf_token %}
                    <button class="modal__submit--reboot" type="submit">
                        {% trans 'Reiniciar' %}
                    </button>
                </form>
            </div>
        </p>
    </div>
</div>
