{# modal to reboot maadix #}
{% load i18n %}

<div class="modal--update" id="modal-genericlock">
    <div class="modal__content-wrapper--genericlock">
        <p class="modal__content--genericlock">
            <div class="modal__text--genericlock">
                <p>{% trans 'El proceso durará unos minutos durante los cuales el Panel de Control quedará inactivo' %}</p>
                <p>{% trans 'Todas las personas que tengan una sesión activa serán forzadas a salir y redireccionadas a una página en la que se mostrará el estado de la operación. '%}
                {% trans 'Cuando la operación termine se activará el formulario para volver a acceder.' %}</p>
                <p>{%trans '¿Confirmas que quieres aplicar los cambios ahora?' %}</p>
            </div>
            <div class="modal__actions--genericlock">
                <span class="modal__submit--genericlock" data-dismiss="#modal-genericlock">
                    {% trans 'Cancelar' %}
                </span>
                <form class="update-form" method="POST">
                    {% csrf_token %}
                    <button class="modal__submit--genericlock confirm" type="submit" name="writeldap">
                        {% trans 'Actualizar' %}
                    </button>
                </form>
            </div>
        </p>
    </div>
</div>
